/* General */

.navbar{
    background-color: #3978E1 !important;
    margin-bottom: 5%;
}
.titulo{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10%;
    text-align: center;
}


/* Desktop */
@media (min-width:900px){
    .formularioInicio{
        font-family: 'Roboto', sans-serif;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
        border: 3px #3978E1 solid;
        box-shadow: #3978E1;
        text-shadow: #3978E1;
        padding: 2% 1% 2% 1%;
    }
    .prevNextBtn:hover{
        background-color: #231736 !important;
    }
    .prevNextBtn{
        background-color: #3978E1 !important;
        margin-top: 10%;
        margin-bottom: 1%;
    }
    .form-check{
        margin-bottom: 5%;
    }
    .subtitle{
        margin-bottom: 10%;
    }
}
 /* Mobile */
@media (max-width:900px){
    .formularioInicio{
        font-family: 'Roboto', sans-serif;
        border: 3px#3978E1 solid;
        box-shadow: #3978E1;
        padding: 3% 2% 3% 2%;
        margin-bottom: 5%;
    }
    .prevNextBtn:hover{
        background-color: #231736 !important;
    }
    .prevNextBtn{
        background-color: #3978E1 !important;
        margin-top: 10%;
        margin-bottom: 1%;
    }
    .form-check{
        margin-bottom: 5%;
    }
    .subtitle{
        margin-bottom: 10%;
    }
}